.ql-snow{
    background-color: #ffffff;
    color: #000000 !important;
}

.ql-container {
    min-height: 140px;
}

.autoridad{
	position: relative;
}
.position-absoluta{
	position: sticky;
	z-index:2;
	width: 100%;
	top: 0;
	background-color: #505c6c;
}

.cuerpo-title{
	position: relative;
}

.title{
	position: sticky;
	z-index:2;
	width: 100%;
	top: 0;
}
